<html>
   <head>
      <title>/r/calpoly Flair Request</title>
      <style>
         body {
            background-color: #eee;
            font-family: sans-serif;
         }
         #wrapper {
            padding: 20px;
            width: 500px;
            margin: 30px auto;
            background-color: white;
         }
         #wrapper center {
            font-size: 24px;
         }
      </style>
      <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
   </head>
   <body>   
      <div id="wrapper">
         <center>/r/calpoly Flair Request</center>
         <p>Upon completing this form, you will be prompted to send a message on reddit to our bot confirming your flair. Give the bot a couple minutes to add the flair. If your major is not listed here, <a href="http://www.reddit.com/message/compose?to=%23CalPoly">message the admins</a>. This is an <a href="https://github.com/frewsxcv/reddit-calpoly-addflair">open source</a> project.</p>
         <form action="." method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit" />
         </form>
      </div>
      <center><g:plusone annotation="none"></g:plusone></center>
   </body>
</html>
